.viz-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1280px) {
  .viz-container {
    flex-direction: row;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (max-width: 800px) {
  .viz-container {
    flex-direction: column;
  }
}

.viz-component {
  padding: 24px;
}
